@font-face {
  font-family: RegularFont;
  src: url("/fonts/Helvetica-regular.ttf");
}

@font-face {
  font-family: BoldFont;
  src: url("/fonts/Helvetica-Bold.ttf");
}

@font-face {
  font-family: LightFont;
  src: url("/fonts/helvetica-light.ttf");
}

@font-face {
  font-family: SpecialFont;
  src: url("/fonts/Interstate-Bold.ttf");
}

@font-face {
  font-family: SpecialLightFont;
  src: url("/fonts/InterstateLight.ttf");
}

html,
body {
  font-family: RegularFont;
  font-size: 14px;
}

button.btn-transparent {
  border: 1px solid #fff;
  background: transparent;
  padding: 10px 30px;
  font-size: 16px;
  position: relative;
  overflow: hidden;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
}

button.btn-transparent:hover, button.btn-transparent:focus {
  outline: none;
}

button.btn-transparent:hover {
  background: #fff;
}

button.btn-transparent:hover:before {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

header.header {
  border-bottom: 20px solid #001254;
}

@media (max-width: 991px) {
  header.header {
    display: none;
  }
}

header.header .header-container {
  max-width: 1024px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin: 0 auto;
  float: none;
}

@media (max-width: 1100px) {
  header.header .header-container {
    padding: 0 15px;
  }
}

header.header .header-box:first-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

header.header .header-box:last-child {
  width: 100%;
}

header.header .header-box .header-logo {
  margin-right: 30px;
  position: relative;
  padding: 10px 20px 0;
}

header.header .header-box .header-logo::after {
  content: "";
  width: 100%;
  height: 20px;
  background: #fff;
  position: absolute;
  bottom: -10px;
  left: 0;
  z-index: 1;
}

header.header .header-box .header-logo img {
  width: 94px;
  position: relative;
  top: 3px;
  z-index: 2;
}

header.header .header-box .header-site-title {
  margin-right: 30px;
  margin-bottom: 17px;
}

header.header .header-box .header-site-title img {
  width: 100%;
  min-width: 160px;
}

header.header .header-box .header-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 50px;
  border-left: 2px solid #ccc;
  padding-left: 30px;
  margin-bottom: 17px;
}

header.header .header-box .header-navigation a {
  color: #000;
  text-decoration: none;
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
  font-size: 16px;
}

header.header .header-box .header-navigation a:hover {
  color: #ccc;
}

header.header-mobile {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #eaecee;
  padding: 6px 0;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 99999;
}

@media (max-width: 991px) {
  header.header-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (max-width: 767px) {
  header.header-mobile .header-logo img {
    max-width: 140px;
  }
}

header.header-mobile .menu {
  width: 80px;
  height: 80px;
  position: absolute;
  right: 0;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

@media (max-width: 767px) {
  header.header-mobile .menu {
    top: -12px;
  }
}

header.header-mobile .hamburger,
header.header-mobile .hamburger::before,
header.header-mobile .hamburger::after {
  width: 35px;
  height: 5px;
  border-radius: 5px;
  background-color: #001254;
  -webkit-box-shadow: 0 2px 5px var(--box-shadow-color);
          box-shadow: 0 2px 5px var(--box-shadow-color);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

header.header-mobile .hamburger::before,
header.header-mobile .hamburger::after {
  content: "";
  position: absolute;
}

header.header-mobile .hamburger::before {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

header.header-mobile .hamburger::after {
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
}

header.header-mobile .menu.open .hamburger {
  -webkit-transform: translateX(-50px);
          transform: translateX(-50px);
  background-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}

header.header-mobile .menu.open .hamburger::before {
  -webkit-transform: rotate(45deg) translate(35px, -35px);
          transform: rotate(45deg) translate(35px, -35px);
  background: #d81e05;
}

header.header-mobile .menu.open .hamburger::after {
  -webkit-transform: rotate(-45deg) translate(35px, 35px);
          transform: rotate(-45deg) translate(35px, 35px);
  background: #d81e05;
}

section.hero {
  background: url("/images/hero.jpg");
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
}

@media (max-width: 1300px) {
  section.hero {
    background-image: url("/images/hero1300.jpg");
  }
}

@media (max-width: 991px) {
  section.hero {
    background: #199cf6;
    margin-top: 55px;
  }
}

section.hero .hero-container {
  max-width: 1024px;
  height: 400px;
  margin: 0 auto;
  float: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

@media (max-width: 1100px) {
  section.hero .hero-container {
    padding: 0 30px;
  }
}

@media (min-width: 1921px) and (max-width: 4000px) {
  section.hero .hero-container {
    height: 650px;
  }
}

@media (max-width: 991px) {
  section.hero .hero-container {
    padding: 30px;
  }
}

@media (max-width: 475px) {
  section.hero .hero-container {
    padding: 30px 15px;
  }
}

section.hero .hero-container h1,
section.hero .hero-container h3 {
  color: #fff;
  max-width: 500px;
}

section.hero .hero-container h1 {
  font-size: 40px;
  font-family: BoldFont;
  margin-bottom: 15px;
}

@media (max-width: 991px) {
  section.hero .hero-container h1 {
    font-family: SpecialFont;
    margin-top: 45px;
  }
  section.hero .hero-container h1 span {
    font-family: SpecialLightFont;
    font-size: 26px;
    display: block;
    margin-bottom: 10px;
    opacity: 0.9;
  }
}

@media (max-width: 767px) {
  section.hero .hero-container h1 {
    max-width: 400px;
  }
}

@media (max-width: 500px) {
  section.hero .hero-container h1 span {
    font-size: 22px;
  }
}

section.hero .hero-container h3 {
  font-family: LightFont;
  font-size: 26px;
  margin-bottom: 6px;
  opacity: 0.9;
}

@media (max-width: 991px) {
  section.hero .hero-container h3 {
    font-family: SpecialLightFont;
  }
}

@media (max-width: 500px) {
  section.hero .hero-container h3 {
    font-size: 22px;
  }
}

section.hero .hero-text-on-mobile {
  display: none;
  position: absolute;
  top: 30px;
  color: #fff;
  font-family: SpecialLightFont;
  font-size: 26px;
  opacity: 0.9;
}

@media (max-width: 991px) {
  section.hero .hero-text-on-mobile {
    display: block;
    top: 50px;
  }
}

@media (max-width: 767px) {
  section.hero .hero-text-on-mobile {
    top: 30px;
  }
}

@media (max-width: 500px) {
  section.hero .hero-text-on-mobile {
    font-size: 22px;
  }
}

section.hero .hero-dots {
  display: none;
}

@media (max-width: 991px) {
  section.hero .hero-dots {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    max-width: 50%;
    margin-bottom: 15px;
    opacity: 0.7;
  }
}

section.hero .hero-dots li {
  width: 4px;
  height: 4px;
  background: #fff;
  border-radius: 50%;
  display: block;
}

section.insight {
  background: #ebebeb;
  padding: 40px 0;
}

@media (max-width: 991px) {
  section.insight {
    background: #001a7b;
  }
}

section.insight .insight-container {
  max-width: 1024px;
  margin: 0 auto;
  float: none;
}

@media (max-width: 1100px) {
  section.insight .insight-container {
    padding: 0 15px;
  }
}

section.insight .insight-owl-container {
  max-width: 1040px;
  margin: 20px auto 0;
  float: none;
}

@media (max-width: 1100px) {
  section.insight .insight-owl-container {
    padding: 0 10px;
  }
}

@media (max-width: 475px) {
  section.insight .insight-owl-container {
    margin: 10px auto 0;
  }
}

section.insight .insight-owl-container .owl-item.target {
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
}

@media (max-width: 475px) {
  section.insight .insight-owl-container .owl-item.target .box {
    -webkit-transform: scale(0.82);
            transform: scale(0.82);
    -webkit-transform-origin: top left;
            transform-origin: top left;
  }
}

section.insight .insight-owl-container .owl-theme .owl-dots .owl-dot.active span,
section.insight .insight-owl-container .owl-theme .owl-dots .owl-dot:hover span {
  background: #ccc;
  border: 1px solid #ccc;
  opacity: 1;
}

section.insight .insight-owl-container .owl-dots button:focus {
  outline: none;
}

section.insight .insight-owl-container .owl-dots button span {
  border: 1px solid #fff;
  background: transparent;
  opacity: 0.6;
}

section.insight .title-wrapper h2 {
  font-size: 30px;
}

@media (max-width: 991px) {
  section.insight .title-wrapper h2 {
    color: #fff;
    font-family: SpecialLightFont;
  }
  section.insight .title-wrapper h2 span {
    font-family: SpecialFont;
  }
}

section.insight .title-wrapper p {
  margin-top: 4px;
  display: block;
}

@media (max-width: 991px) {
  section.insight .title-wrapper p {
    color: #fff;
    font-family: SpecialLightFont;
    font-size: 16px;
  }
}

section.insight .box {
  padding: 12px 8px 8px 8px;
}

@media (max-width: 475px) {
  section.insight .box {
    width: 280px;
  }
}

@media (max-width: 320px) {
  section.insight .box {
    width: 230px;
  }
}

section.insight .box.box-1 .box-inner {
  border-color: #1450d2;
}

@media (max-width: 991px) {
  section.insight .box.box-1 .box-inner {
    border-color: #01a49c;
  }
}

section.insight .box.box-1 h3 {
  color: #1450d2;
}

@media (max-width: 991px) {
  section.insight .box.box-1 h3 {
    color: #01a49c;
  }
}

section.insight .box.box-2 .box-inner {
  border-color: #01a49c;
}

section.insight .box.box-2 h3 {
  color: #01a49c;
}

section.insight .box.box-3 .box-inner {
  border-color: #009bfa;
}

@media (max-width: 991px) {
  section.insight .box.box-3 .box-inner {
    border-color: #01a49c;
  }
}

section.insight .box.box-3 h3 {
  color: #009bfa;
}

@media (max-width: 991px) {
  section.insight .box.box-3 h3 {
    color: #01a49c;
  }
}

section.insight .box .box-inner {
  padding: 20px 20px 10px 20px;
  background: #fff;
  -webkit-box-shadow: 0 0 4px 3px rgba(0, 0, 0, 0.09), 0 0 0 rgba(0, 0, 0, 0.09);
          box-shadow: 0 0 4px 3px rgba(0, 0, 0, 0.09), 0 0 0 rgba(0, 0, 0, 0.09);
  border-bottom: 10px solid;
}

section.insight .box .box-inner h3 {
  font-family: BoldFont;
  font-size: 23px;
  margin-top: 15px;
}

@media (max-width: 991px) {
  section.insight .box .box-inner h3 {
    font-family: SpecialFont;
  }
}

section.who-we-are {
  background-image: url("/images/who-we-are.jpg");
  background-size: cover;
  background-position: center;
  padding: 100px 0;
  position: relative;
}

section.who-we-are::before {
  content: "";
  width: 100%;
  height: 60px;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-box-shadow: inset 0 30px 8px -6px rgba(0, 0, 0, 0.1);
          box-shadow: inset 0 30px 8px -6px rgba(0, 0, 0, 0.1);
}

section.who-we-are::after {
  content: "";
  width: 100%;
  height: 60px;
  position: absolute;
  bottom: 0;
  left: 0;
  -webkit-box-shadow: inset 0 -30px 8px -6px rgba(0, 0, 0, 0.1);
          box-shadow: inset 0 -30px 8px -6px rgba(0, 0, 0, 0.1);
}

section.who-we-are .who-we-are-container {
  max-width: 1024px;
  margin: 0 auto;
  float: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 1100px) {
  section.who-we-are .who-we-are-container {
    padding: 0 15px;
  }
}

section.who-we-are h2,
section.who-we-are p {
  color: #fff;
  text-shadow: 1px 1px 2px rgba(43, 43, 43, 0.5);
  text-align: center;
}

section.who-we-are h2 {
  font-size: 30px;
  font-family: BoldFont;
  margin-bottom: 12px;
}

section.who-we-are p {
  font-size: 18px;
  font-family: LightFont;
  line-height: 26px;
}

section.who-we-are button.btn-transparent {
  color: #fff;
  cursor: pointer;
  margin-top: 20px;
}

section.who-we-are button.btn-transparent:hover {
  color: #001254;
}

@media (max-width: 991px) {
  section.who-we-are button.btn-transparent {
    margin-top: 40px;
  }
}

section.events {
  background: #ebebeb;
  padding: 40px 0;
}

@media (max-width: 991px) {
  section.events {
    padding: 40px 0 20px;
  }
}

section.events .events-container {
  max-width: 1024px;
  margin: 0 auto;
  float: none;
}

@media (max-width: 1100px) {
  section.events .events-container {
    padding: 0 15px;
  }
}

section.events .events-owl-container {
  max-width: 1040px;
  margin: 0 auto;
  float: none;
}

@media (max-width: 1100px) {
  section.events .events-owl-container {
    padding: 0 10px;
  }
}

@media (max-width: 991px) {
  section.events .events-owl-container {
    padding: 0 15px;
  }
}

section.events .events-owl-container .owl-item.target {
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
}

@media (max-width: 475px) {
  section.events .events-owl-container .owl-item.target .box {
    -webkit-transform: scale(0.734);
            transform: scale(0.734);
    -webkit-transform-origin: left;
            transform-origin: left;
  }
}

section.events .events-owl-container .owl-theme .owl-dots .owl-dot.active span,
section.events .events-owl-container .owl-theme .owl-dots .owl-dot:hover span {
  background: #ccc;
  border: 1px solid #ccc;
  opacity: 1;
}

section.events .events-owl-container .owl-dots {
  margin-top: 20px;
}

section.events .events-owl-container .owl-dots button:focus {
  outline: none;
}

section.events .events-owl-container .owl-dots button span {
  border: 1px solid #ccc;
  background: transparent;
  opacity: 0.6;
}

section.events .title-wrapper h2 {
  font-size: 30px;
}

@media (max-width: 991px) {
  section.events .title-wrapper h2 {
    font-family: SpecialLightFont;
    color: #001a7b;
  }
  section.events .title-wrapper h2 span {
    font-family: SpecialFont;
  }
}

section.events .title-wrapper p {
  margin-top: 4px;
  display: block;
}

@media (max-width: 991px) {
  section.events .title-wrapper p {
    font-family: SpecialLightFont;
    color: #6e6e6e;
    font-size: 16px;
  }
}

section.events .box {
  padding-top: 40px;
}

@media (max-width: 475px) {
  section.events .box {
    width: 270px;
  }
}

@media (max-width: 320px) {
  section.events .box {
    width: 230px;
  }
}

section.events .box .box-inner {
  padding: 20px 20px 10px 20px;
  min-height: 230px;
  position: relative;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#1450d2+66,1146b7+100 */
  background: #1450d2;
  /* Old browsers */
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(66%, #1450d2), to(#1146b7));
  background: linear-gradient(to bottom, #1450d2 66%, #1146b7 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1450d2', endColorstr='#1146b7',GradientType=0 );
  /* IE6-9 */
}

@media (max-width: 970px) {
  section.events .box .box-inner {
    min-height: 260px;
  }
}

@media (max-width: 767px) {
  section.events .box .box-inner {
    background: #001a7b;
  }
}

section.events .box .box-inner .box-date {
  width: 75px;
  height: 70px;
  background: #001254;
  display: block;
  margin-top: -35px;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

@media (max-width: 767px) {
  section.events .box .box-inner .box-date {
    background: #fff;
    color: #01a49c;
  }
}

section.events .box .box-inner .box-date:before {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 14px 14px;
  border-color: transparent transparent #3b4e96 transparent;
  position: absolute;
  top: 1px;
  left: -14px;
}

@media (max-width: 767px) {
  section.events .box .box-inner .box-date:before {
    border-color: transparent transparent #c3c3c3 transparent;
  }
}

section.events .box .box-inner .box-date .box-date-text {
  font-family: LightFont;
  font-size: 12px;
}

section.events .box .box-inner .box-date .box-date-number {
  font-family: SpecialFont;
  font-size: 26px;
}

section.events .box .box-inner h3,
section.events .box .box-inner p {
  color: #fff;
}

section.events .box .box-inner h3 {
  font-family: SpecialFont;
  font-size: 21px;
  margin-top: 15px;
  margin-bottom: 3px;
}

@media (max-width: 970px) {
  section.events .box .box-inner h3 {
    font-size: 18px;
    line-height: 22px;
  }
}

section.events .box .box-inner p {
  font-family: SpecialLightFont;
  font-size: 12px;
  line-height: 14px;
  font-weight: 300;
}

section.events .box .box-inner button.btn-transparent {
  color: #fff;
  cursor: pointer;
  margin: 20px 0 60px;
  padding: 10px 20px;
  font-size: 14px;
  font-family: SpecialFont;
  position: absolute;
  bottom: 20px;
  left: 20px;
}

section.events .box .box-inner button.btn-transparent:hover {
  color: #001254;
}

section.events .box .box-inner .box-location {
  display: block;
  font-family: SpecialFont;
  font-size: 18px;
  background: #ebebeb;
  position: absolute;
  bottom: 0;
  right: 0;
  width: calc(100% - 110px);
  padding: 14px 20px;
  text-align: right;
  outline: none;
}

section.events .box .box-inner .box-location:focus {
  outline: none;
}

@media (max-width: 970px) {
  section.events .box .box-inner .box-location {
    font-size: 14px;
  }
}

@media (max-width: 991px) {
  section.events .box .box-inner .box-location {
    color: #6e6e6e;
  }
}

@media (max-width: 767px) {
  section.events .box .box-inner .box-location {
    bottom: -4px;
    right: -3px;
  }
}

section.events .box .box-inner .box-location:before {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 54px 54px;
  border-color: transparent transparent #ebebeb transparent;
  position: absolute;
  top: 0;
  left: -54px;
}

@media (max-width: 767px) {
  section.events .box .box-inner .box-location:before {
    left: -53px;
  }
}

section.events .footer-logo {
  display: none;
}

@media (max-width: 991px) {
  section.events .footer-logo {
    max-width: 70px;
    display: block;
    margin: 30px auto 0;
    float: none;
  }
}

footer.footer {
  background: #707070;
  padding: 20px 0;
}

@media (max-width: 991px) {
  footer.footer {
    display: none;
  }
}

footer.footer .footer-container {
  max-width: 1024px;
  margin: 0 auto;
  float: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1100px) {
  footer.footer .footer-container {
    padding: 0 15px;
  }
}

footer.footer .box {
  font-family: SpecialLightFont;
  color: #fff;
  font-size: 13px;
  line-height: 16px;
}

footer.footer .box a {
  color: #fff;
  text-decoration: none;
}

footer.footer .box-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer.footer .box-social span {
  margin-right: 10px;
  color: #fff;
  font-size: 13px;
  font-family: SpecialLightFont;
}

footer.footer .box-social ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer.footer .box-social ul li {
  width: 20px;
  height: 20px;
  background: #c6c6c6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 6px;
  border-radius: 50%;
}

footer.footer .box-social ul li .fa {
  color: #707070;
}

footer.footer .box-social ul li .fa-envelope {
  font-size: 10px;
  position: relative;
  top: -1px;
}

footer.mobile-footer {
  background: #ccc;
  padding: 20px 0;
  display: none;
}

@media (max-width: 991px) {
  footer.mobile-footer {
    display: block;
  }
}

footer.mobile-footer .footer-container {
  max-width: 1024px;
  margin: 0 auto;
  float: none;
}

@media (max-width: 1100px) {
  footer.mobile-footer .footer-container {
    padding: 0 15px;
  }
}

footer.mobile-footer .box:first-child ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer.mobile-footer .box:first-child ul li {
  width: 48%;
}

footer.mobile-footer .box ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
  padding: 0;
}

footer.mobile-footer .box ul li {
  margin-bottom: 10px;
}

footer.mobile-footer .box ul li a {
  background: #eaecee;
  text-align: center;
  width: 100%;
  max-width: 100%;
  display: block;
  padding: 20px 0;
  text-decoration: none;
  color: #707070;
  font-family: SpecialFont;
  font-size: 18px;
}

footer.mobile-footer .box-separator {
  text-align: center;
  padding: 10px 0 20px;
  color: #001254;
  font-size: 17px;
  border-bottom: 2px solid rgba(112, 112, 112, 0.4);
  margin-bottom: 15px;
}

div.mobile-navigation {
  position: fixed;
  top: 55px;
  left: 0;
  z-index: 9999;
  width: 100%;
  background: #ccc;
  padding: 20px 0;
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
  -webkit-transform: translate3d(0, -120%, 0);
          transform: translate3d(0, -120%, 0);
}

div.mobile-navigation.open {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

div.mobile-navigation .mobile-navigation-container {
  max-width: 1024px;
  margin: 0 auto;
  float: none;
}

@media (max-width: 1100px) {
  div.mobile-navigation .mobile-navigation-container {
    padding: 0 15px;
  }
}

div.mobile-navigation .box ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
  padding: 0;
}

div.mobile-navigation .box ul li {
  margin-bottom: 10px;
}

div.mobile-navigation .box ul li a {
  background: #eaecee;
  text-align: center;
  width: 100%;
  max-width: 100%;
  display: block;
  padding: 20px 0;
  text-decoration: none;
  color: #707070;
  font-family: SpecialFont;
  font-size: 18px;
}

div.mobile-navigation .box-separator {
  text-align: center;
  padding: 10px 0 20px;
  color: #001254;
  font-size: 17px;
  border-bottom: 2px solid rgba(112, 112, 112, 0.4);
  margin-bottom: 15px;
}

div.mobile-navigation-backdrop {
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 55px;
  z-index: 999;
  display: none;
}

div.mobile-navigation-backdrop.open {
  display: block;
}
/*# sourceMappingURL=main.css.map */